<%- include('partials/header') %>

<div class="text-center Bggg">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Your Submission</h1>

    <% usersWithSecrets.forEach(function(user){ %>
      <h1 ><%=user.title%></h1>
      <p class="secret-text"><%=user.secret%></p>
      <hr>
    <% }) %>



    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Try Again</a>
  </div>
</div>

<%- include('partials/footer') %>
